html {
    background-color: white;
    overflow: hidden;
    /* filter: invert(0%); */
}

@font-face {
    font-family: "FarawayGiant Pixelface";
    src:
        local("FarawayGiant Pixelface"),
        url("../fonts/FarawayGiant_Pixelface.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "FarawayGiant Pixelface";
    background-color: white;
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    overflow: hidden;
    image-rendering: pixelated;
}

main {
    width: 1600px;
    height: 900px;
    margin: auto;
    transform-origin: top center;
    position: absolute;
    top: 0%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

canvas {
    /* border: 4px solid black; */
    background-color: rgba(255, 255, 255, 0.95);
    display: block;
    image-rendering: pixelated;
    /* image-rendering: crisp-edges; */
}

input[type="range"] {
    accent-color: rgb(0, 0, 0);
}